<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Full page 2 | Demo | Bulldog</title>
    <meta name="description" content="Fullpage with classic horizontal top menu demo based on HTML and JQuery plugin Fullpage.">
    <script src="../plugins/jquery.min.2.1.4.js"></script>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../plugins/magnific-popup.css">
    <link rel="stylesheet" href="../plugins/jquery.fullPage.css">
    <link rel="stylesheet" href="../plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href='../plugins/php/contact-form.css'>
    <link rel="stylesheet" href="../skin.css">
    <link rel="icon" href="../images/favicon.png">
    <!-- Extra optional content header -->
</head>
<body>
    <div id="preloader"></div>
    <header class="fixed-top scroll-change" data-menu-anima="fade-left">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="../demo-main/index.html"><img src="../images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul class="nav navbar-nav over" id="fullpage-menu">
                                <li class="active"><a>Home</a></li>
                                <li><a>About us</a></li>
                                <li><a>News</a></li>
                                <li><a>Services</a></li>
                                <li><a>Contacts</a></li>
                            </ul>
                            <ul class="nav navbar-nav over lan-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img src="../images/en.png" alt="lan" />EN <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><img src="../images/it.png" alt="lan" />IT</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="fullpage-varrow">
        <div class="arrow down"><span></span><i class="fa fa-angle-down"></i></div>
        <div class="arrow up"><i class="fa fa-angle-up"></i><span></span></div>
    </nav>
    <div class="background-page overlay-container">
        <video autoplay="autoplay" loop="loop" poster="../images/video-hd-2-poster.jpg" class="background-fullscreen">
            <source src="../images/video-hd-2.mp4" type="video/mp4">
        </video>
    </div>
    <div id="fullpage-main" data-options="verticalCentered:false" data-offset="30">
        <div class="section white overlay-container">
            <div class="container content box-middle">
                <h1 class="text-xxl text-black">FULLPAGE<br />BY BULLDOG</h1>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-m">
                            Vero mi sapien? Veniam dolorum fermentum, cursus quod et, quas, asperiores dolorum amet taciti, quae ducimus nullam reiciendis mauris rerum taciti
                            maiores turpis occaecat a etiam, ante? Officiis! Sunt ad hendrerit, pellentesque? Sapiente. Eget dolorum, recusandae molestias nec cubilia excepteur. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-m">
                            Vero mi sapieneniam dolorum fermentum, cursus quod et, quas, asperiores dolorum amet taciti, quae ducimus nullam reiciendis mauris rerum taciti
                            Euismod dolores reprehenderit omnis repellat perferendis labore proident sunt dignissimos, lorem corporis hendrerit etiam. Temporibus fusce, expedita?
                        </p>
                    </div>
                </div>
                <hr class="space l" />
                <div class="icon-list text-left" data-anima="fade-right" data-time="1600" data-timeline="asc">
                    <div class="list-item anima">
                        <i class="im-pizza-slice square text-s"></i><label>Think different</label>
                    </div>
                    <div class="list-item anima">
                        <i class="im-professor square text-s"></i><label>Be constantly corious</label>
                    </div>
                    <div class="list-item anima">
                        <i class="im-quill-2 square text-s"></i><label>Stay hungry</label>
                    </div>
                    <div class="list-item anima">
                        <i class="im-rainbow-2 square text-s"></i><label>Be competitive</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="section white overlay-container">
            <div class="container content box-middle">
                <h1 class="text-xxl text-black">ABOUT US</h1>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            L'orem ipsum dolor, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        </p>
                        <hr class="space xs" />
                        <img src="../images/sign-white.png" alt="" />
                    </div>
                    <div class="col-md-7" data-fullpage-anima="fade-left" data-time="1600">
                        <div class="flexslider carousel white">
                            <ul class="slides">
                                <li>
                                    <a class="img-box img-scale-up lightbox" data-lightbox-anima="fade-top" href="../images/projects/project-3.jpg">
                                        <img src="../images/projects/project-3.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box img-scale-up lightbox" data-lightbox-anima="fade-top" href="../images/projects/project-2.jpg">
                                        <img src="../images/projects/project-2.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box img-scale-up lightbox" data-lightbox-anima="fade-top" href="../images/projects/project-10.jpg">
                                        <img src="../images/projects/project-10.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box img-scale-up lightbox" data-lightbox-anima="fade-top" href="../images/projects/project-6.jpg">
                                        <img src="../images/projects/project-6.jpg" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container">
            <div class="container content box-middle">
                <div class="row">
                    <div class="col-md-4 row-10" data-fullpage-anima="fade-left" data-time="1600">
                        <a class="img-box lightbox thumbnail" data-lightbox-anima="fade-bottom" href="../images/projects/project-3.jpg">
                            <span><img src="../images/projects/project-3.jpg" alt=""></span>
                        </a>
                    </div>
                    <div class="col-md-4 row-10 middle-content boxed text-center white" data-fullpage-anima="fade-top" data-time="1600">
                        <h4>THE MOST POWERFUL<br />AND EXTREME Building TEMPLATE</h4>
                    </div>
                    <div class="col-md-4 row-10 boxed white" data-fullpage-anima="fade-right" data-time="1600">
                        <div class="flexslider slider nav-inner" data-options="directionNav:false">
                            <ul class="slides">
                                <li>
                                    <p class="block-quote quote-1">
                                        It is better to lead from behind and to fight.
                                    </p>
                                </li>
                                <li>
                                    <p class="block-quote quote-1">
                                        One home run is much better than two doubles. 
                                    </p>
                                </li>
                                <li>
                                    <p class="block-quote quote-1">
                                        We're just enthusiastic about what we do.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-4 boxed white middle-content text-center row-10" data-fullpage-anima="fade-bottom" data-time="1600">
                        <p class="text-m">
                            Lorem ipsum dolor sitamet consectetur adipisicing elit sed do eiusmod tempor incididunt
                            ut labore.
                        </p>
                    </div>
                    <div class="col-md-8 row-10" data-fullpage-anima="fade-bottom" data-time="1600">
                        <div class="flexslider slider nav-inner" data-options="directionNav:false">
                            <ul class="slides">
                                <li>
                                    <a class="img-box lightbox" data-lightbox-anima="show-scale" href="../images/gallery/image-4.jpg">
                                        <img src="../images/gallery/image-4.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" data-lightbox-anima="show-scale" href="../images/gallery/image-2.jpg">
                                        <img src="../images/gallery/image-2.jpg" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box lightbox" data-lightbox-anima="show-scale" href="../images/gallery/image-6.jpg">
                                        <img src="../images/gallery/image-6.jpg" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container">
            <div class="container content box-middle">
                <div class="row">
                    <div class="col-md-8">
                        <div class="grid-list">
                            <div class="grid-box row">
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed white extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Custom works</a></h3>
                                            <span class="extra-content">CONTACT US</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut labore et dolore.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed-inverse extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Web design</a></h3>
                                            <span class="extra-content">AWESOME EFFECTS</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut labore et dolore magnaliqua.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed-inverse extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Copywriting and social</a></h3>
                                            <span class="extra-content">PASSIANATE BLOGGERS</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed-inverse extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Video editing</a></h3>
                                            <span class="extra-content">AFTER EFFECT</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed-inverse extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Grapichs for printing</a></h3>
                                            <span class="extra-content">PHOTOSHOP</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-side-icon boxed-inverse extra-content-cnt">
                                        <div class="caption-box">
                                            <h3><a href="#">Marketing and seo</a></h3>
                                            <span class="extra-content">IMPROVE EARNINGS</span>
                                            <p>
                                                Lorem ipsum dolor sitamet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-nav">
                                <ul class="pagination-sm pagination white pagination-grid" data-page-items="2" data-pagination-anima="show-scale"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 white" data-fullpage-anima="show-scale" data-time="1600">
                        <h1 class="text-xxl text-black">TOP SKILLS</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container">
            <div class="container content box-middle">
                <div class="row proporzional-row" data-fullpage-anima="fade-bottom" data-timeline="asc" data-time="1600" data-timeline-time="1000">
                    <div class="col-md-3 anima">
                        <div class="google-map" data-skin="gray" data-address="New York, US"></div>
                    </div>
                    <div class="col-md-3 anima boxed-inverse">
                        <h4>Building TEMPLATE</h4>
                        <hr class="space m" />
                        <p class="text-left">
                            Ligula aenean, voluptatem a lorem laoreet quod dolores, ac natoque modi inventore
                        </p>
                        <hr class="space xs" />
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s circle"></i>
                            </a>
                        </div>
                        <hr class="space m" />
                        <h5 class="text-m">ADDRESS</h5>
                        <p>
                            05, Martin Street<br />
                            Orange C, California<br />
                            United States of America
                        </p>
                        <hr class="space xs" />
                        <h4 class="text-m">CONTACTS</h4>
                        <p>
                           900 123 0000<br />
                           900 123 0001<br />
                        </p>
                    </div>
                    <div class="col-md-3 anima boxed white">
                        <h4>NEED TO KNOW MORE?</h4>
                        <hr class="space m" />
                        <p class="text-left">
                            Try visiting our FAQ page to learn more about our greatest ever expanding theme, Building.
                            Maxime sapiente enim ipsa? Earum et eveniet, ante totam aliquip saepe numquam gravida tempus? Orci tenetur dis quidem accusamus
                            consectetuer feugiat dis ridiculus.
                            <br /><br />
                            Maxime sapiente enim ipsa? Earum et eveniet, ante totam aliquip saepe totam aliquip saepe.
                        </p>
                        <hr class="space m" />
                        <a href="#" class="btn btn-xs">GO TO FAQS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-center footer-Building">
        <link rel="stylesheet" href="../plugins/iconsmind/solid-icons.css">
        <script src="../plugins/imagesloaded.min.js"></script>
        <script async src="../plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../plugins/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" async src='../plugins/php/contact-form.js'></script>
        <script src="../plugins/flexslider/jquery.flexslider-min.js"></script>
        <script src="../plugins/jquery.fullPage.min.js"></script>
        <script src="../plugins/jquery.twbsPagination.min.js"></script>
        <script src='https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCp69VyBGUlCdAAsfgcRvf3Pg57B6vNHd8'></script>
        <script src='../plugins/google.maps.min.js'></script>
    </footer>
</body>
</html>
